<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Bisutti.Brigada.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="System.Data.SqlServerCe.4.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
			<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="BrigadaBisutti" connectionString="Data Source=D:\BrigadaBisutti.sdf" providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>
	<userSettings>
		<Bisutti.Brigada.Properties.Settings>
   <setting name="Inicio" serializeAs="String">
    <value>2015-01-05</value>
   </setting>
   <setting name="Termino" serializeAs="String">
    <value>2015-01-31</value>
   </setting>
   <setting name="BrigadaSubject" serializeAs="String">
    <value>Eventos de {0} até {1}</value>
   </setting>
   <setting name="EventosExcelOrder" serializeAs="String">
    <value>0,1,2,3,4,5,6</value>
   </setting>
   <setting name="BrigadaExcelOrder" serializeAs="String">
    <value>0,1,2,3,4,5,6,7,9</value>
   </setting>
   <setting name="DevelopersEmail" serializeAs="String">
    <value>rafael.ravena@gmail.com</value>
   </setting>
   <setting name="ProducaoSubject" serializeAs="String">
    <value>Eventos da Semana ({0} a {1})</value>
   </setting>
   <setting name="SaveLastScreen" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SendAutomatically" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BrigadaEmailFile" serializeAs="String">
    <value>..\Arquivos\Brigada.htm</value>
   </setting>
   <setting name="ProducaoEmailFile" serializeAs="String">
    <value>..\Arquivos\Producao.htm</value>
   </setting>
   <setting name="Debug" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastScreen" serializeAs="String">
    <value>Configuracoes</value>
   </setting>
   <setting name="LastExcelFile" serializeAs="String">
    <value>..\Arquivos\excel.xlsx</value>
   </setting>
  </Bisutti.Brigada.Properties.Settings>
	</userSettings>
</configuration>